<h2>Today Topics:</h2>

<h5>1.Data Prepreocessing for label data Encoding.
    <br/>

2.Decision Tree Classifier.</h5>

Label Encoding: The Data should be in the Number Type.It should be not in                      Text .so,We use this to Text-->Numbers.

 1.Label Encoder.

2.OneHot Encoding.

3.get_dummies()

 The above Three processes used to change to Text to Number format.

In [24]:
import numpy as np
import pandas as pd

d ={'sname':['siva','ganesh','sai','lohitha','myname'],
    'Gender':['Male','Male','Male','Female','Male'],
    'MarriedStatus':['married','unmarried','married','unmarried','unmarried'],
   'Is_Bool':['True','Treu','False','False','True']}

df = pd.DataFrame(d)

In [25]:
df.head()

     sname  Gender MarriedStatus Is_Bool
0     siva    Male       married    True
1   ganesh    Male     unmarried    Treu
2      sai    Male       married   False
3  lohitha  Female     unmarried   False
4   myname    Male     unmarried    True


# Label Encoder

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
label = LabelEncoder()

In [28]:
lab =label.fit(df['Gender']) #Changing labels Text to number

df['Gender'] = lab.transform(df['Gender'])
df

     sname  Gender MarriedStatus Is_Bool
0     siva       1       married    True
1   ganesh       1     unmarried    Treu
2      sai       1       married   False
3  lohitha       0     unmarried   False
4   myname       1     unmarried    True

In [29]:
label.classes_ #To know the types in gender.

array(['Female', 'Male'], dtype=object)

In [30]:
#Here ouput of Gender column is 0 and 1 after encoding .

# One Hot Encoding

In [31]:
#This is one of the Encoding Technique.changes from Text data --->Number.

In [55]:
d ={'sname':['siva','ganesh','sai','lohitha','myname'],
    'Gender':['Male','Male','Male','Female','Male'],
    'MarriedStatus':['married','unmarried','unspecified','married','unspecified'],
   'Is_Bool':['True','True','False','False','True']}

In [56]:
df = pd.DataFrame(d)

In [57]:
df #Here GEnder consists of three labels.-->married,unmarrried,inspecified.

     sname  Gender MarriedStatus Is_Bool
0     siva    Male       married    True
1   ganesh    Male     unmarried    True
2      sai    Male   unspecified   False
3  lohitha  Female       married   False
4   myname    Male   unspecified    True

In [58]:
from sklearn.preprocessing import OneHotEncoder

In [59]:
onehot = OneHotEncoder()

In [60]:
one =onehot.fit(df['MarriedStatus'].values.reshape(-1,1))

In [61]:
one.categories_

[array(['married', 'unmarried', 'unspecified'], dtype=object)]

In [62]:
onehot_label = onehot.transform(df['MarriedStatus'].values.reshape(-1,1)).toarray()

In [63]:
onehot_label

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [64]:
label_df = pd.DataFrame()
label_df['Married_status_encode'] = onehot_label[:,0]
label_df['unmarried_status_encode'] = onehot_label[:,1]
label_df['unspecified_status_encode'] = onehot_label[:,2]

In [65]:
label_df

   Married_status_encode  unmarried_status_encode  unspecified_status_encode
0                    1.0                      0.0                        0.0
1                    0.0                      1.0                        0.0
2                    0.0                      0.0                        1.0
3                    1.0                      0.0                        0.0
4                    0.0                      0.0                        1.0

In [66]:
afterencode_df = pd.concat([df,label_df],axis=1)

In [67]:
afterencode_df

,sname,Gender,MarriedStatus,Is_Bool,Married_status_encode,unmarried_status_encode,unspecified_status_encode
0,siva,Male,married,True,1.0,0.0,0.0
1,ganesh,Male,unmarried,True,0.0,1.0,0.0
2,sai,Male,unspecified,False,0.0,0.0,1.0
3,lohitha,Female,married,False,1.0,0.0,0.0
4,myname,Male,unspecified,True,0.0,0.0,1.0

In [68]:
#Here we have creeated three columns for the Married column.

# get_dummies

In [69]:
ds = pd.get_dummies(df['Is_Bool'])

In [70]:
ds

   False  True
0      0     1
1      0     1
2      1     0
3      1     0
4      0     1

In [71]:
encode_df2 =pd.concat([df,ds],axis=1)
encode_df2

     sname  Gender MarriedStatus Is_Bool  False  True
0     siva    Male       married    True      0     1
1   ganesh    Male     unmarried    True      0     1
2      sai    Male   unspecified   False      1     0
3  lohitha  Female       married   False      1     0
4   myname    Male   unspecified    True      0     1