In [22]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [6]:
df = pd.read_csv("weather.csv")

In [3]:
df.head()

         date  temp  winspeed     evet        city
0  10/10/1990    10        20     rain      guntur
1  12/11/1992    20        30     cold  vijayawada
2  14/12/2001    12        22  fullair   Hyderabad
3  21/09/2020    50        60     cold  vijayawada

In [11]:
df.shape
df.dtypes

date        object
temp         int64
winspeed     int64
evet        object
city        object
dtype: object

In [13]:
df.iloc[2:4]

         date  temp  winspeed     evet        city
2  14/12/2001    12        22  fullair   Hyderabad
3  21/09/2020    50        60     cold  vijayawada

In [14]:
df[['temp','evet']]

   temp     evet
0    10     rain
1    20     cold
2    12  fullair
3    50     cold

In [15]:
df.corr()

          temp  winspeed
temp       1.0       1.0
winspeed   1.0       1.0

In [29]:
from sklearn import datasets

In [43]:
#Importing Dataset from sklearn.
iris = datasets.load_iris()

In [48]:
iris.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [49]:
X=iris.data
y = iris.feature_names

In [51]:
df=pd.DataFrame(X,columns=y)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [54]:
#creating a column

df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0