<h2>Today Topics:</h2>

<h5>1.Data Prepreocessing for label data Encoding.
    <br/>

2.Decision Tree Classifier.</h5>

Label Encoding: The Data should be in the Number Type.It should be not in                      Text .so,We use this to Text-->Numbers.

 1.Label Encoder.

2.OneHot Encoding.

3.get_dummies()

 The above Three processes used to change to Text to Number format.

In [24]:
import numpy as np
import pandas as pd

d ={'sname':['siva','ganesh','sai','lohitha','myname'],
    'Gender':['Male','Male','Male','Female','Male'],
    'MarriedStatus':['married','unmarried','married','unmarried','unmarried'],
   'Is_Bool':['True','Treu','False','False','True']}

df = pd.DataFrame(d)

In [25]:
df.head()

     sname  Gender MarriedStatus Is_Bool
0     siva    Male       married    True
1   ganesh    Male     unmarried    Treu
2      sai    Male       married   False
3  lohitha  Female     unmarried   False
4   myname    Male     unmarried    True


# Label Encoder

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
label = LabelEncoder()

In [28]:
lab =label.fit(df['Gender']) #Changing labels Text to number

df['Gender'] = lab.transform(df['Gender'])
df

     sname  Gender MarriedStatus Is_Bool
0     siva       1       married    True
1   ganesh       1     unmarried    Treu
2      sai       1       married   False
3  lohitha       0     unmarried   False
4   myname       1     unmarried    True

In [29]:
label.classes_ #To know the types in gender.

array(['Female', 'Male'], dtype=object)

In [30]:
#Here ouput of Gender column is 0 and 1 after encoding .

# One Hot Encoding

In [31]:
#This is one of the Encoding Technique.changes from Text data --->Number.

In [ ]:
d ={'sname':['siva','ganesh','sai','lohitha','myname'],
    'Gender':['Male','Male','Male','Female','Male'],
    'MarriedStatus':['married','unmarried','unspecified','married','unmarried','unmarried'],
   'Is_Bool':['True','Treu','False','False','True']}